[Unit]
Description=Gunicorn instance to serve cubezoa latex editor on web
After=network.target

[Service]
User=cube
Group=www-data
WorkingDirectory=/home/cube/cubezoa
Environment="PATH=/home/cube/cubezoa/cubezoaenv/bin"
ExecStart=/home/cube/cubezoa/cubezoaenv/bin/gunicorn --workers 3 --bind 0.0.0.0:5000 "__init__:crate_app()"

[Install]
WantedBy=multi-user.target